<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">두번째 탭</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="storeBox">
    <button pButton pRipple type="button" [routerLink]="['/tabs/tab1']" icon="pi pi-times"
      class="p-button-rounded p-button-text p-button-plain exitBtn"></button>
    <div class="title">
      <i class="pi pi-spin pi-shopping-cart" style="font-size: 15px"></i>
      &nbsp;똥폼 스토어
    </div>
    <div class="itemBox">
      <div class="subTitle">게임</div>
      <div class="item">
        <img class="logo" src="../../assets/images/jaum_app_icon.png" />
        <div class="content">
          <div class="iName">자음게임</div>
          <div class="iDesc"></div>
          <div class="tag">
            <span>#자음게임</span>
            <span>#모음게임</span>
            <span>#초성게임</span>
          </div>
          <div class="flag">
            <p-tag styleClass="p-mr-2" icon="pi pi-user" value="1200+"></p-tag>
            <p-tag severity="danger" value="HOT!"></p-tag>
          </div>
          <button pButton pRipple type="button" label="열기" class="iOpen p-button-outlined p-button-rounded"></button>
        </div>
      </div>
      <div class="item">
        <img class="logo" src="../../assets/images/baseball_app_icon.png" />
        <div class="content">
          <div class="iName">자음게임</div>
          <div class="iDesc"></div>
          <div class="tag">
            <span>#자음게임</span>
            <span>#모음게임</span>
            <span>#초성게임</span>
          </div>
          <div class="flag">
            <p-tag styleClass="p-mr-2" icon="pi pi-user" value="1200+"></p-tag>
            <p-tag severity="warning" value="EASY!"></p-tag>
          </div>
          <button pButton pRipple type="button" label="열기" class="iOpen p-button-outlined p-button-rounded"></button>
        </div>
      </div>
      <div class="item">
        <img class="logo" src="../../assets/images/lier_app_icon.jpeg" />
        <div class="content">
          <div class="iName">자음게임</div>
          <div class="iDesc">캐주얼 * 뇌지컬 * 피지컬</div>
          <div class="tag">
            <span>#자음게임</span>
            <span>#모음게임</span>
            <span>#초성게임</span>
          </div>
          <button pButton pRipple type="button" label="열기" class="iOpen p-button-outlined p-button-rounded"></button>
        </div>
      </div>
      <div class="subTitle">커뮤니케이션</div>
      <div class="subTitle">유틸리티</div>
    </div>
  </div>
</ion-content>