:host {
}

ion-content {
    --background: auto;
    animation: fadeUp 0.3s forwards;

    .storeBox {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 50px;
        margin: auto;
        max-width: 600px;
        background: #fefefe;
        box-shadow: 0 0 8px #222;

        .title {
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            padding-left: 20px;
            box-shadow: 0 0 5px #333;
        }
        .subTitle {
            margin: 20px 20px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #999;
        }
        .itemBox {
            .item {
                position: relative;
                width: auto;
                padding: 20px 10px 5px;
                margin: 30px 20px;
                box-shadow: 0 0 1px #444;
                border-radius: 2px;
                overflow: inherit;
                cursor: pointer;
                &:hover {
                }
                .header {
                    position: absolute;
                    top: -18px;
                    left: -5px;
                    margin-bottom: 10px;
                    .tag {
                        margin: 5px;
                        p-tag {
                            margin-right: 5px;
                        }
                    }
                }
                .logo {
                    width: 100px;
                    height: 100px;
                    border-radius: 25px;
                    box-shadow: 0px 0px 2px #555;
                }
                .userCnt {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin: 0;
                    p-tag {
                        font-size: 10px;
                    }
                }
                .content {
                    position: absolute;
                    top: 20px;
                    left: 135px;
                    max-height: 100%;
                    overflow: hidden;
                    h5 {
                        font-size: 25px;
                        margin: 0;
                        small {
                            font-size: 14px;
                        }
                    }
                    .info {
                        font-size: 14px;
                        padding-right: 10px;
                        margin: 5px 0;
                    }
                }
                .hideInfo {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 20px;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.5) 35%,
                        rgba(255, 255, 255, 1) 100%
                    );
                }
            }
        }

        .exitBtn {
            float: right;
            margin: 5px;
        }
    }
}

@media (max-width: 600px) {
    .itemBox {
        .item {
            .content {
                left: 100px !important;
            }
            .logo {
                width: 75px !important;
                height: 75px !important;
            }
        }
    }
}

@keyframes fadeUp {
    0% {
        transform: translate3d(0, 5vh, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
