:host {
}
* {
    font-family: "gamja flower", "gamja flower", sans-serif;
}
ion-content{
    --background: auto;
}

:host ::ng-deep .card-container {
    
    &.primary-box {
        background-color: var(--primary-color);
        padding: 0;
        color: var(--primary-color-text);
    }

    &.styled-box-green {
        .p-ink {
            background: rgba(#4baf50, 0.3);
        }
    }

    &.styled-box-orange {
        .p-ink {
            background: rgba(#ffc106, 0.3);
        }
    }

    &.styled-box-purple {
        .p-ink {
            background: rgba(#9c27b0, 0.3);
        }
    }

    &:last-child {
        margin-right: 0;
    }
}
