<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-container p-d-flex">
    <p-divider align="left" type="dashed"> <b>최근 사용</b> </p-divider>

    <p-button styleClass="p-px-3" [routerLink]="['/jaum']">
      <ng-template pTemplate="content">
        <img alt="logo" src="assets/showcase/images/primeng-icon-white.svg" style="width: 1.5rem" />
      </ng-template>
    </p-button>

    <p-divider align="left" type="dashed"> <b>내 바로가기</b> </p-divider>
  </div>
  <div>
  </div>

</ion-content>