<div class="splashBox">
  <div>
    <small>신나는</small><br>
    자음게임
  </div>
</div>

<p-toast position="top-center"></p-toast>

<div *ngIf="this.rId!=null;then trueRid else falseRid"></div>
<ng-template #trueRid>
  <div class="topHeader">
    <div class="title">
      <img alt="logo" src="../../assets/images/jaum_app_icon.png" />
      <p>방 이름 - {{rId}}</p>
    </div>
    <div class="menus">
      <i pRipple class="pi pi-question" (click)="guideAction('guide');"></i>
      <i pRipple class="pi pi-volume-up" *ngIf="isMute" (click)="mute();"></i>
      <i pRipple class="pi pi-volume-off" *ngIf="!isMute" (click)="mute();"></i>
      <i pRipple class="pi pi-times" (click)="exit();"></i>
    </div>
    <div class="userCnt">
      <p-tag icon="pi pi-user" value="{{userCnt}}명"></p-tag>
      <p-tag icon="pi pi-link" severity="warning" value="초대하기" (click)="kakaoShare();"></p-tag>
    </div>
  </div>
  <div class="header" [ngClass]="qTitle==null ? 'animate animate-1s fadeOut' : 'animate animate-1s fadeIn'">
    <div class="qBox" #qBox>
      <p class="fadeIn" *ngFor="let char of qTitle">{{char}}</p>
      <small class="fadeIn">{{qSubject}}</small>
    </div>
  </div>

  <ion-content scrollDownOnLoad="true">
    <div class="background"></div>
    <div class="messageBoxBackground"></div>
    <div class="messageBox" *ngFor="let message of messages;">
      <ion-item class="guideChat" lines="none" *ngIf="message.guide">
        <ion-label>
          <div class="center">{{message.text[0]}}</div>
          <div class="center" *ngIf="message.text.length>1">{{message.text[1]}}</div>
          <div class="center" *ngIf="message.text.length>2">{{message.text[2]}}</div>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="!message.guide && !message.isMe">
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2018/05/26/18/06/dog-3431913_960_720.jpg">
        </ion-thumbnail>
        <ion-label>
          <h3>{{message.name}}</h3>
          <div class="left">
            <span class="rMsg incorrect" *ngIf="message.type=='incorrect'">땡!</span>
            <span class="rMsg correct" *ngIf="message.type=='correct'">정답!</span>
            {{message.text}}
          </div>
          <small>{{message.createdAt| date:"HH:mm"}}</small>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="message.isMe" class="me">
        <ion-thumbnail slot="start" *ngIf="!message.guide && !message.isMe">
          <img src="https://cdn.pixabay.com/photo/2018/05/26/18/06/dog-3431913_960_720.jpg">
        </ion-thumbnail>
        <ion-label>
          <h3>{{message.name}}</h3>
          <small>{{message.createdAt| date:"HH:mm"}}</small>
          <div class="right">
            <span class="rMsg incorrect" *ngIf="message.type=='incorrect'">땡!</span>
            <span class="rMsg correct" *ngIf="message.type=='correct'">정답!</span>
            {{message.text}}
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer>
    <ion-item class="box">
      <ion-input [(ngModel)]="inputMessage" placeholder="" (keyup.enter)="sendChat()" #chatInput></ion-input>
      <ion-button item-right color="primary" (click)="sendChat()">Send</ion-button>
    </ion-item>
    <ion-item>
      광고가 들어갈 거에요 ~.~
    </ion-item>
  </ion-footer>
</ng-template>

<ng-template #falseRid>
  <ion-content>
    <ion-button (click)="makeRoom('jaum', 1)">혼자 하기</ion-button>
    <ion-button (click)="makeRoom(2, 8)">같이 하기</ion-button>
    <div>{{this.rId}}</div>
  </ion-content>
</ng-template>